* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  background-color: #4caf50;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 20px;
}

nav .logo {
  font-family: "Srisakdi", cursive;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #cddc39;
}

.menu-toggle {
  display: none; 
}

.menu-toggle input {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.menu-toggle span:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .menu-toggle {
      display: flex;
      cursor: pointer;
  }

  nav ul {
      display: none;
      flex-direction: column;
      background-color: #4caf50;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0;
      text-align: center;
  }

  nav ul.active {
      display: flex;
  }

  nav ul li {
      margin: 10px 0;
  }

  .menu-toggle span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle span:nth-child(2) {
      transform: rotate(-45deg) translate(5px, -5px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid #4caf50;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Update: agar konten pada box menjadi vertikal di tengah */
  text-align: center; /* Update: agar konten pada box menjadi vertikal di tengah */
}

.box article {
  flex: 1;
}

.box aside {
  order: 1;
}

.box img {
  width: 140px;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: #fff;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.2);
}

h2, h5 {
  text-align: center;
  color: #4caf50;
}

p {
  text-align: justify;
}

.video-container {
  text-align: center;
  margin-top: 20px; /* Sesuaikan dengan kebutuhan */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add gap between cards */
}

.card {
  width: calc(50% - 20px);
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  font-size: 20px;
}

.card-content p {
  margin-bottom: 0;
  font-size: 16px;
}

.judulhobi {
  text-align: center;
  margin-bottom: 25px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .card {
      width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .card {
      width: calc(100% - 20px);
  }
}
